<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">{{ '_MENU' | translate }}</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.jpg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">{{ '_ABOUT' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">{{ '_EXPERIENCE' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">{{ '_EDUCATION' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">{{ '_SKILLS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">{{ '_INTERESTS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">{{ '_CONTACT' | translate }}</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#awards">{{ '_AWARDS' | translate }}</a>
      </li>-->
      <li class="nav-item">
        <language-select></language-select>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0 noJustify">Guillermo
        &nbsp;
        <span class="text-primary">Vigil</span>
        &nbsp;
        <span class="text-primary">Rodríguez</span>
      </h1>
      <div class="subheading mb-5">
        <i class="fa fa-location-arrow" aria-hidden="true" style="margin-right: 5px;"></i>&nbsp;
        {{ '_ADDRESS' | translate }}
        <br>
        <i class="fa fa-mobile" aria-hidden="true" style="margin-right: 5px; margin-left: 5px;"></i>&nbsp;
        (+34) 634 561 629
        <br>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
        <a href="mailto:guillermovigilr@gmail.com">guillermovigilr@gmail.com</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="mb-5">{{ '_DESCRIPTION' | translate }}</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="mb-5">{{ '_DESCRIPTION_2' | translate }}</p>
      </div>
      <ul class="list-inline list-social-icons mb-5">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/guillermotti">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/GuillermoVigil">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/guillermotti/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://open.spotify.com/user/212losfkqce46ku5l66leqazy">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/guillermotti/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/guillermotti">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <br>
      <div class="col-lg-12 salicaria">
        <button id="cvButton" class="btn btn-secondary greyColor" onclick="window.open('GuillermottiCV.pdf')">{{ '_CV' | translate }}</button>
      </div>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">{{ '_EXPERIENCE' | translate }}</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">{{ '_DXC_JOB' | translate }}</h3>
          <div class="subheading mb-3">DXC TECHNOLOGY</div>
          <p>{{ '_DXC_DESCRIPTION' | translate }}</p>
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_DXC_TIME' | translate }}</span>
          <div>
            <a href="https://www.dxc.technology/">
              <img class="mx-auto mb-2 logo" src="/img/dxc_logo.png">
            </a>
          </div>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">Web Developer</h3>
          <div class="subheading mb-3">Freelance</div>
          <p>{{ '_FREELANCE_DESCRIPTION' | translate }}</p>
          <!-- <p>{{ '_FREELANCE_DESCRIPTION2' | translate }}</p> -->
          <!-- <p class="salicaria">
            <a href="https://www.salicaria.com">Salicaria</a>
          </p> -->
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_FREELANCE_TIME' | translate }}</span>
          <div>
            <a href="https://www.guillermotti.com">
              <img class="mx-auto mb-2 logo2" src="/img/logo2.png">
            </a>
          </div>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">{{ '_CSC_SCHOLARSHIP' | translate }}</h3>
          <div class="subheading mb-3">{{ '_CSC' | translate }}</div>
          <p>{{ '_CSC_DESCRIPTION' | translate }}</p>
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_CSC_TIME' | translate }}</span>
          <div>
            <a href="https://en.wikipedia.org/wiki/Computer_Sciences_Corporation">
              <img class="mx-auto mb-2 logoCSC" src="/img/csc_logo.png">
            </a>
          </div>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">{{ '_INDRA_SCHOLARSHIP' | translate }}</h3>
          <div class="subheading mb-3">{{ '_INDRA' | translate }}</div>
          <p>{{ '_INDRA_DESCRIPTION' | translate }}</p>
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_INDRA_TIME' | translate }}</span>
          <div>
            <a href="https://www.indracompany.com/">
              <img class="mx-auto mb-2 logoIndra" src="/img/indra_logo.png">
            </a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">{{ '_EDUCATION' | translate }}</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">{{ '_UNIOVI' | translate }}</h3>
          <div class="subheading mb-3">{{ '_EPI' | translate }}</div>
          <div>{{ '_DEGREE' | translate }}</div>
          <!-- <p>{{ '_UNIOVI_AVERAGE_SCORE' | translate }}</p> -->
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_UNIOVI_TIME' | translate }}</span>
          <div>
            <a href="https://www.uniovi.es/">
              <img class="mx-auto mb-2 logoUniovi" src="/img/uniovi_logo.png">
            </a>
          </div>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3 class="mb-0">{{ '_SANJAC' | translate }}</h3>
          <div class="subheading mb-3">{{ '_SANJAC_SOUTH' | translate }}</div>
          <div>{{ '_SANJAC_STUDIES' | translate }}</div>
        </div>
        <div class="resume-date text-md-right col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <span class="text-primary">{{ '_SANJAC_TIME' | translate }}</span>
          <div>
            <a href="https://www.sanjac.edu/">
              <img class="mx-auto mb-2 logoSanjac" src="/img/sanjac_logo.gif">
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">{{ '_SKILLS' | translate }}</h2>

      <div class="list-icons">

        <div class="subheading mb-3">{{ '_OS' | translate }}</div>

        <div class="row">
          <i class="devicons devicon-apple-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Mac OS X</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-windows8-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Windows</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/linux.svg">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Linux</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicon devicon-android-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Android</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_FRAMEWORKS' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/angular.svg">
          </div>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Angular</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-react-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="40" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">React</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-wordpress-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">WordPress</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_PROGRAMMING_LANGUAGES' | translate }}</div>

        <div class="row">
          <i class="devicons devicon-typescript-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="85" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">TypeScript</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-javascript-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="75" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">JavaScript</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/java.svg">
          </div>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Java</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/python.svg">
          </div>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Python</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicon devicon-cplusplus-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">C++</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicon devicon-csharp-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">C#</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_WEB' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/html5.svg">
          </div>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">HTML5</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/css3.svg">
          </div>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">CSS3</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-nodejs-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">NodeJS</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-sass-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Sass</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-bootstrap-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Bootstrap</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-jquery-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">jQuery</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_CLOUD' | translate }}</div>

        <div class="row">
          <i class="devicons devicon-amazonwebservices-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Amazon Web Services</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/gcp.svg">
          </div>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Google Cloud Platform</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/firebase.svg">
          </div>
          <ngb-progressbar type="success" [value]="75" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Firebase</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_DATABASES' | translate }}</div>

        <div class="row">
          <i class="devicon devicon-mysql-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">MySQL</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicon devicon-postgresql-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="55" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">PostgreSQL</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicon devicon-oracle-original colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Oracle</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/mongodb.svg">
          </div>
          <ngb-progressbar type="success" [value]="40" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">MongoDB</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_CONFIG_TOOLS' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/jenkins.png">
          </div>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Jenkins</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/artifactory.png">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Artifactory</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/terraform.svg">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Terraform</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/npm.svg">
          </div>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">npm</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/yarn.svg">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Yarn</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/bower.svg">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Bower</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/grunt.svg">
          </div>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Grunt</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-gulp-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Gulp</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_IDES' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/visualstudiocode.png">
          </div>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Visual Studio Code</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/visualstudio.svg">
          </div>
          <ngb-progressbar type="success" [value]="60" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Visual Studio</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/sublime.svg">
          </div>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Sublime Text</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/eclipse.png">
          </div>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Eclipse</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/netbeans.png">
          </div>
          <ngb-progressbar type="success" [value]="40" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Netbeans</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg jetbrains" src="./../img/jetbrains.png">
          </div>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">JetBrains</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_CONTROL' | translate }}</div>

        <div class="row">
          <i class="devicons devicon-github-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="90" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">GitHub</ngb-progressbar>
        </div>
        <div class="row">
          <i class="devicons devicon-bitbucket-plain colored col-xs-2 col-sm-2 col-md-2 col-lg-2"></i>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">BitBucket</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/gitlab.svg">
          </div>
          <ngb-progressbar type="success" [value]="50" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">GitLab</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_SCRUM' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/jira.png">
          </div>
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Jira</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">          
            <img class="devicons svg" src="./../img/trello.png">
          </div>
          <ngb-progressbar type="success" [value]="80" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Trello</ngb-progressbar>
        </div>

        <br>
        <div class="subheading mb-3">{{ '_LANGUAGES' | translate }}</div>

        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img
              class="devicons svg flags"
              src="./../img/spainFlag.svg"
            />
          </div>
          <ngb-progressbar type="success" [value]="100" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{ '_SPANISH' | translate }}</ngb-progressbar>
        </div>
        <div class="row">
          <div class="imgTech col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img
              class="devicons svg flags"
              src="./../img/ukFlag.svg"
            />
          </div>          
          <ngb-progressbar type="success" [value]="70" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{ '_ENGLISH' | translate }}</ngb-progressbar>
        </div>
      </div>
      <br>
      <br>
      <div class="subheading mb-3">{{ '_WORKFLOW' | translate }}</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_TEAMWORK' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_VERSION_CONTROL' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_GIT_WORKFLOW' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_AUTOMATION' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_BROWSER_TESTING' | translate }} &amp; {{ '_DEBUGGING' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_AGILE_DEVELOPMENT' | translate }} &amp; {{ '_SCRUM' | translate }}</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          {{ '_MOBILE_RESPONSIVE' | translate }}</li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">{{ '_INTERESTS' | translate }}</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-gamepad fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_VIDEOGAMES' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_CINEMA' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-futbol-o fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_SPORTS' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-music fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_MUSIC' | translate }}</strong>
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-desktop fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_TECHNOLOGY' | translate }}</strong>
            </h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_FRIENDS' | translate }}</strong>
            </h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-television fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_TV_SHOWS' | translate }}</strong>
            </h4>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cutlery fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_COOK' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plane fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_TRAVEL' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-puzzle-piece fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_TABLE_GAMES' | translate }}</strong>
            </h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="interests">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rebel fa-stack-1x interestsIcon"></i>
            </span>
            <h4>
              <strong>{{ '_FREAK_WORLD' | translate }}</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
      <h2 class="mb-5">{{ '_CONTACT' | translate }}</h2>

      <div class="bg-faded p-4 my-4">
        <h3 class="mb-0 salicaria">{{ '_GET_IN_TOUCH' | translate }}</h3>
        <br>
        <p>{{ '_GET_IN_TOUCH_MESSAGE' | translate }}</p>
        <br>
        <hr class="divider">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="form-group col-lg-4">
              <label class="text-heading">{{ '_NAME' | translate }}</label>
              <input type="text" class="form-control" id="name" required data-validation-required-message="Por favor introduce tu nombre.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group col-lg-4">
              <label class="text-heading">{{ '_EMAIL' | translate }}</label>
              <input type="email" class="form-control" id="email" required data-validation-required-message="Por favor introduce tu dirección de correo.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group col-lg-4">
              <label class="text-heading">{{ '_PHONE_NUMBER' | translate }}</label>
              <input type="tel" class="form-control" id="phone" required data-validation-required-message="Por favor introduce tu número de teléfono.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-lg-12">
              <label class="text-heading">{{ '_MESSAGE' | translate }}</label>
              <textarea class="form-control" rows="6" id="message" required data-validation-required-message="Por favor introduce un mensaje."></textarea>
              <p class="help-block text-danger"></p>
              <div id="success"></div>
              <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-secondary">{{ '_SEND' | translate }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!--
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Google Analytics Certified Developer</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Mobile Web Specialist - Google Certification</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1
          <sup>st</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1
          <sup>st</sup>
          Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2
          <sup>nd</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
        <li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1
            <sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            3
            <sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005</li>
      </ul>
    </div>
  </section>-->

</div>