<div class="{{isDark ? 'dark' : ''}} font-cabinet-grotesk grid h-screen">
  <div class="flex flex-col bg-paper-white dark:bg-paper-gray dark:text-white">
    <div class="flex mx-12 my-8">
      <svg class="flex-none w-8 h-8 dark:filter dark:grayscale" width="30" height="30" viewBox="0 0 30 30" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.4 29.92L13.96 18.4L10.12 29.28L7.88004 28.4L12.84 17.92L5.16004 26.56L3.40004 24.8L12.04 17.12L1.56004 22.08L0.680039 19.84L11.56 16L0.0400391 16.56V14.16L11.56 14.8L0.680039 10.88L1.56004 8.71999L12.04 13.68L3.40004 5.91999L5.16004 4.23999L12.84 12.8L7.88004 2.39999L10.12 1.43999L13.96 12.4L13.4 0.799988H15.8L15.16 12.32L19.08 1.43999L21.24 2.39999L16.28 12.8L24.04 4.23999L25.72 5.91999L17.16 13.68L27.56 8.71999L28.52 10.88L17.56 14.8L29.16 14.16V16.56L17.56 16L28.52 19.84L27.56 22.08L17.16 17.12L25.72 24.8L24.04 26.56L16.28 17.92L21.24 28.4L19.08 29.28L15.16 18.4L15.8 29.92H13.4Z"
          attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
      </svg>
      <div class="flex-grow">
        <img class="absolute transform -scale-y-1 scale-x-1 w-20 -top-14 sm:right-60"
          src="{{ isDark ? '../assets/Green-in-Jumper11.png' : '../assets/Light-brown-in-Basic9.png'}}">
      </div>
      <button class="flex-none w-36 h-12 font-medium z-50" (click)="changeMode()">{{textButton}}</button>
    </div>
    <div class="flex flex-col sm:flex-row text-xl md:text-3xl font-light mx-12 my-6">
      <div class="flex-none max-w-md">
        <p><span class="font-medium">Guille</span> is a devops engineer and developer based in Gijón, Asturias. Working
          at
          <span class="font-medium underline"><a href="https://empathy.co" target="_blank"
              rel="noopener noreferrer">empathy.co</a></span>, formerly at <span class="font-medium">DXC
            Technology</span> and
          <span class="font-medium">Indra</span>.</p>
      </div>
      <div class="flex-grow"></div>
      <div class="flex flex-wrap sm:flex-col justify-around">
        <a *ngFor="let network of networks" href="{{network.href}}" target="_blank" rel="noopener noreferrer">
          <svg attr.width="{{network.width}}" attr.height="{{network.height}}"
            attr.fill="{{ isDark ? '#FFF' : '#000' }}" xmlns="http://www.w3.org/2000/svg" class="my-4">
            <path attr.d="{{network.d}}" />
          </svg>
        </a>
      </div>
    </div>
    <div class="mb-12 flex flex-wrap justify-start">
      <div class="mx-12 mt-8 sm:mt-16 divide-y-2 divide-gray">
        <p class="text-xl font-extrabold">Skills and Certifications</p>
        <div class="flex flex-wrap justify-start">
          <div class="mt-8 sm:mr-20">
            <p class="mb-4" *ngFor="let skill of skills"><span class="font-bold">{{skill.title}}:</span>
              {{skill.description}}</p>
          </div>
          <div class="mt-8">
            <div *ngFor="let cert of certifications" class="mb-4">
              <div class="flex flex-wrap mb-3">
                <svg *ngIf="cert.d" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" attr.d="{{cert.d}}"
                    attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
                </svg>
                <img *ngIf="cert.src" width="40" src="{{cert.src}}">
                <p class="mt-2 ml-3">{{cert.date}}</p>
              </div>
              <a href="{{cert.badge}}" target="_blank" rel="noopener noreferrer" class="flex flex-wrap">
                <p class="w-4/5 sm:w-auto">
                  <span class="font-bold">{{cert.name}} </span><span class="underline"> {{cert.description}}</span>
                </p>
                <svg class="mt-1 ml-4" width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.8 13.2l-1.4-2.83-6.83 3.94L.2 8.46l6.83-3.94-1.76-2.64L7.78.43l8.34 2.73-1.8 8.6-2.52 1.45zm1.68-1.65l1.72-7.86-7.66-2.43 2.02 3.1-6.75 3.9 2.24 3.88 6.75-3.9 1.68 3.3z"
                    attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-start">
        <div class="mx-12 mt-8 sm:mt-16 divide-y-2 divide-gray">
          <p class="text-xl font-extrabold">Posts and Talks</p>
          <div class="flex flex-wrap justify-start">
            <div class="flex flex-col justify-start sm:mr-20">
              <div *ngFor="let talk of talks" class="mt-8">
                <p class="mb-4 text-sm"><span class="font-bold">{{ talk.event }}</span> - {{ talk.date }}</p>
                <a href="{{ talk.href }}" target="_blank" rel="noopener noreferrer" class="flex flex-wrap">
                  <p class="font-bold w-4/5 sm:w-auto">{{ talk.title }}</p>
                  <svg class="mt-1 ml-4" width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.8 13.2l-1.4-2.83-6.83 3.94L.2 8.46l6.83-3.94-1.76-2.64L7.78.43l8.34 2.73-1.8 8.6-2.52 1.45zm1.68-1.65l1.72-7.86-7.66-2.43 2.02 3.1-6.75 3.9 2.24 3.88 6.75-3.9 1.68 3.3z"
                      attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="mt-8">
              <p class="mb-4 text-sm"><span class="font-bold">MEDIUM</span></p>
              <a *ngFor="let post of posts" href="{{ post.href }}" target="_blank" rel="noopener noreferrer"
                class="flex flex-wrap">
                <p class="w-4/5 sm:w-auto">
                  <span class="font-bold">{{ post.title }}</span><span class="text-xs"> {{ post.description }}</span>
                </p>
                <svg class="mt-1 ml-4" width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.8 13.2l-1.4-2.83-6.83 3.94L.2 8.46l6.83-3.94-1.76-2.64L7.78.43l8.34 2.73-1.8 8.6-2.52 1.45zm1.68-1.65l1.72-7.86-7.66-2.43 2.02 3.1-6.75 3.9 2.24 3.88 6.75-3.9 1.68 3.3z"
                    attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="mx-12 mt-8 sm:mt-16 divide-y-2 divide-gray">
          <p class="text-xl font-extrabold">Projects</p>
          <div class="">
            <div class="mt-8 flex flex-wrap">
              <a *ngFor="let project of projects" href="{{ project.href }}" target="_blank" rel="noopener noreferrer"
                class="flex flex-wrap mr-10">
                <p class="font-bold">{{ project.name }}</p>
                <svg class="mt-1 ml-4" width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.8 13.2l-1.4-2.83-6.83 3.94L.2 8.46l6.83-3.94-1.76-2.64L7.78.43l8.34 2.73-1.8 8.6-2.52 1.45zm1.68-1.65l1.72-7.86-7.66-2.43 2.02 3.1-6.75 3.9 2.24 3.88 6.75-3.9 1.68 3.3z"
                    attr.fill="{{ isDark ? '#FFF' : '#000' }}" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-center pb-10">
      <p>
        Designed with <span>{{ isDark ? '💜' : '❤️' }}</span>
      </p>
      <p class="ml-2">by
        <a href="https://alexalbuerne.com" target="_blank" rel="noopener noreferrer" class="underline">
          @alex
        </a>
      </p>
    </div>
  </div>
</div>
