/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: LearningCurve;
  src: url(../assets/LearningCurve.ttf);
}

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96; }
  
  @media (min-width: 992px) {
    body {
      padding-top: 0;
      padding-left: 17rem; } }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40; }
  
  h1 {
    font-size: 6rem;
    line-height: 5.5rem; }
  
  h2 {
    font-size: 3.5rem; }
  
  .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem; }
  
  .list-social-icons a {
    color: #495057; }
    .list-social-icons a:hover {
      color: rgb(46, 129, 51); }
    .list-social-icons a .fa-lg {
      font-size: 1.75rem; }
  
  .list-icons {
    font-size: 3rem; }
    .list-icons .list-inline-item i:hover {
      color: rgb(49, 126, 68); }
      .list-icons .row i:hover {
        color: rgb(49, 126, 68); }
  
  .row {
    align-items: center;
    padding-bottom: 1%;
  }

  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase; }
  
  @media (min-width: 992px) {
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100%; }
      #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem; }
        #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2); }
      #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto; }
        #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%; }
          #sideNav .navbar-collapse .navbar-nav .nav-item {
            display: block; }
            #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
              display: block; } }
  
  section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; }
    section.resume-section .resume-item .resume-date {
      min-width: none; }
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh; }
      section.resume-section .resume-item .resume-date {
        min-width: 18rem; } }
  
  @media (min-width: 992px) {
    section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important; } }
  
  .bg-primary {
    background-color: rgb(49, 126, 68) !important; }
  
  .text-primary {
    color: rgb(49, 126, 68) !important; }
  
  a {
    color: rgb(49, 126, 68); }
    a:hover, a:focus, a:active {
      color: #1b3321; }
  
.languageSelect{
  margin-right: 5%;
}

.languageSelectSelect{
  color: #777;
  font-weight: 300;
  text-transform: inherit;
  background-color: white;
  position: absolute;
}

.my-auto{
    text-align: justify;
}

@media (max-width: 414px) {
  ngb-progressbar {
    position: absolute !important;
    padding-left: 25% !important;
  }
}

.rotate {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg); // Mozilla
  -o-transform: rotate(180deg); // Opera
  -webkit-transform: rotate(180deg); // Webkit
}

.logo {
  width: 100%;
  margin-top: 15%;
}

.logo2 {
  width: 60%;
  margin-top: 15%;
}

.logoCSC {
  width: 40%;
  margin-top: 9%;
}

.logoIndra {
  width: 69%;
  margin-top: 12%;
}

.logoUniovi {
  width: 59%;
  margin-top: 5%;
}

.logoSanjac {
  width: 70%;
  margin-top: 10%;
}

.noJustify {
  text-align: left !important;
}

.salicaria {
  text-align: center !important;
}

.salicaria a{
  color: black !important;
  font-family: LearningCurve !important;
  font-size: -webkit-xxx-large;
}

.salicaria a:hover{
  text-decoration-line: none;
}

.devicons {
  color: black !important;
  padding-left: 6.5%;
}

.devicon {
  color: black !important;
  padding-left: 6.5%;
}

.flag-icon {
  width: 27%;
}

#circulo { 
  width: 150px;
  height: 150px;
  background:rgb(49, 126, 68); 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  display: inline-table;
  margin-right: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.interests {
  text-align: center;
  color: rgb(49, 126, 68);
}

.interestsIcon{
  color: white;
}

.greyColor {
  background-color : #868e96;
}

.blackColor {
  background-color : black;
}

.greenColor {
  background-color : rgb(49, 126, 68);
}
