/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

$green-palette: (
    50 : #e6f0e9,
    100 : #c1d8c7,
    200 : #98bfa2,
    300 : #6fa57c,
    400 : #509160,
    500 : #317e44,
    600 : #2c763e,
    700 : #256b35,
    800 : #1f612d,
    900 : #134e1f,
    A100 : #89ff9d,
    A200 : #56ff73,
    A400 : #23ff48,
    A700 : #09ff33,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gray-palette: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-theme: mat-light-theme(mat-palette($green-palette), mat-palette($gray-palette));
@include angular-material-theme($custom-theme);

@font-face {
    font-family: Monoton;
    src: url(../assets/Monoton-Regular.ttf);
}

@font-face {
    font-family: Nintendo;
    src: url(../assets/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Bungee;
    src: url(../assets/BungeeInline-Regular.ttf);
}

body {
    font-family: Nintendo !important;
    padding-top: 54px;
    color: #868e96;
}

.mat-form-field, .mat-raised-button {
    font-family: Nintendo !important;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nintendo !important;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-family: Monoton !important;
    font-size: 4rem !important;
    line-height: 3.5rem !important;
}

h2 {
    font-size: 3.5rem;
}

.subheading {
    font-family: Bungee !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.35rem;
    p {
        margin: 0;
        mat-icon {
            top: 4px;
            position: relative;
        }
    }
}

.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: rgb(46, 129, 51);
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    filter: drop-shadow(8px 8px 10px gray);
}

.list-icons .row i:hover, .row img:hover {
    filter: drop-shadow(8px 8px 10px gray);
}

.row {
    align-items: center;
    padding-bottom: 1%;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100%;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: rgb(49, 126, 68) !important;
}

.text-primary {
    color: rgb(49, 126, 68) !important;
}

a {
    color: rgb(49, 126, 68);
}

a:hover, a:focus, a:active {
    color: #1b3321;
}

.my-auto {
    text-align: justify;
}

@media (max-width: 425px) {
    ngb-progressbar {
        position: absolute !important;
        padding-left: 25% !important;
    }
}

.rotate {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg); // Mozilla
    -o-transform: rotate(180deg); // Opera
    -webkit-transform: rotate(180deg); // Webkit
}

.logo {
    width: 100%;
    margin-top: 15%;
}

.logo2 {
    width: 60%;
    margin-top: 15%;
}

.logoCSC {
    width: 40%;
    margin-top: 9%;
}

.logoIndra {
    width: 69%;
    margin-top: 12%;
}

.logoUniovi {
    width: 59%;
    margin-top: 5%;
}

.logoSanjac {
    width: 70%;
    margin-top: 10%;
}

.noJustify {
    text-align: left !important;
}

.item-center {
    text-align: center !important;
}

.item-center a {
    color: black !important;
}

.item-center a:hover {
    text-decoration-line: none;
}

.row i.devicons, .row i.devicon {
    padding-left: 6.5%;
}

.flag-icon {
    width: 27%;
}

#circulo {
    width: 150px;
    height: 150px;
    background: rgb(49, 126, 68);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-table;
    margin-right: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.interests {
    text-align: center;
    color: rgb(49, 126, 68);
}

.interestsIcon {
    color: white;
}

.greyColor {
    background-color: #868e96;
}

.blackColor {
    background-color: black;
}

.greenColor {
    background-color: rgb(49, 126, 68);
}

.svg {
    height: 45px;
}

img.svg.jetbrains {
    height: 20px;
}

img.svg.flags {
    height: 35px;
}

.imgTech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 6.5%;
}

.languageSelect {
    margin-left: 5%;
    margin-right: 5%;

    .imgTech {
        justify-content: center;
        align-content: space-around;

        img {
            width: 35%;
        }
    }
}

.cv-button {
    color: white;
}

.rancher {
    img {
        width: 40%;
    }
}

.full-width {
    width: 100%;
}

.mat-simple-snackbar-action button {
    color: rgb(46, 129, 51);
}